/* @media (max-width: 640px)
{
* {
    box-sizing: border-box;
} */

/* passer body (et tous les éléments de largeur fixe) en largeur automatique */


body {
    background-color: #474482;
    width: auto;
    margin: 0;
    padding: 0;
}

/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
iframe,
object,
embed,
video {
    max-width: 100%;
}

input[type="text"]{
    padding: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/* conserver le ratio des images */

img {
    height: auto;
}

/* gestion des mots longs */

textarea,
table,
td,
th,
code,
pre,
samp {
    -webkit-hyphens: auto; /* césure propre */
    -moz-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word; /* passage à la ligne forcé */
}

code,
pre,
samp {
    white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
}

/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

.element1,
.element2 {
    float: none;
    width: auto;
}

/* masquer les éléments superflus */

.hide_mobile {
    display: none !important;
}

/* Un message personnalisé */

body:before {
    content: "Version mobile du site";
    display: block;
    text-align: center;
    font-style: italic;
    color: #777;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    background-color: #11a7ab;
}

.view {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 50px;
    left: 0px;
}

.home {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #ffffff;
    overflow-y: scroll;
    overflow: hidden;
}

.weather-panel{
    border-radius: 25px;
    width: 250px;
    height: 220px;
    background-color: #5ea1c1;
    left: 0;
    right: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.first-line-weather-panel{
    margin-left: 18px;
    height: 35px;
    width: 85%;
    font-size: 1.3em;
    font-family: georgia;
}

.temp-degres-weather-panel{
    color: #07680f;
    font-weight: bold;
}

.weather-city-panel {
    font-family: georgia;
    font-style: italic;
}

.second-line-weather-panel{
    height: 165px; 
    width: 100%;
}

.date-line-weather-panel{
    height: 20px;
    text-align: left;
    margin-left: 20px;
}

.weather-line-panel{
    height: 128px;
    width: 100%;
}

.weather-line-panel-left{
    display: block;
    width: 60%;
    height: 100%;
    float: left;
}

.weather-line-panel-left i{
    float: right;
}

.weather-line-panel-right{
    display: block;
    width: 40%;
    height: 100%;
    float: left;
    text-align: center;
}

.weather-line-panel-right-container{
    margin: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40px;
    height : 50px;
    font-size: 1.1em;
}

.weather-min-panel{
    height: 50%;
    border-bottom: 1px solid white;
    /* padding-bottom: 3px; */
}

.weather-max-panel{
    height: 50%;
}

.weather-line-panel-description{
    width: 100%;
    text-transform: capitalize;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.forecast-weather-panel{
    height: 300px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left : 10px;
    margin-right : 10px;
    left: 0;
    right: 0;
    bottom: 55px;
    /* margin-top: 10px; */
    background-color: blue;
}

.forecast-day-container{
    margin: auto;
    height: 80%;
    width: 80%;

/*  
    max-width:100%;
    max-height:100% */
}

.forecast-day-table{

    height: 100%;
    width: 100%;
    display: table;
}

.forecast-day-row{
    margin: 5px;
    display: table-row;
}

.forecast-day-cell{
    display: table-cell;
    vertical-align: middle;
    border: 3px solid white;
    border-radius: 10px;
    /* margin: 5px; */
    padding: 5px;
}

/* .forecast-day{    
    display: inline-block;
    width: 150px;
    width: 100px;
    height : 100px;
    margin: 15px;
    border: 3px solid white;
    border-radius: 10px;
} */

/* .Sky{
    float: left;
    position: relative;
    width : 100%;
    height: 100%;
    background: linear-gradient(to bottom,  #373056 1%,#362942 8%,#362942 14%,#82bfe5 40%,#c3e9f7 57%,#efad51 67%,#a33737 70%,#192f49 97%);
} */

/* .Sky-hour-0 {
    top: 100px;
}
.Sky-hour-1 {
    top: 0px;
}
.Sky-hour-2 {
    top: -100px;
}
.Sky-hour-3 {
    top: -200px;
}
.Sky-hour-4 {
    top: -300px;
}
.Sky-hour-5 {
    top: -400px;
}
.Sky-hour-6 {
    top: -500px;
}
.Sky-hour-7 {
    top: -600px;
}

.Sky-hour-8 {
    top: -700px;
}

.Sky-hour-9 {
    top: -800px;
}

.Sky-hour-10 {
    top: -900px;
}

.Sky-hour-11 {
    top: -1000px;
}

.Sky-hour-12 {
    top: -1100px;
}

.Sky-hour-13 {
    top: -1200px;
}

.Sky-hour-14 {
    top: -1300px;
}

.Sky-hour-15 {
    top: -1400px;
}

.Sky-hour-16 {
    top: -1500px;
}

.Sky-hour-17 {
    top: -1600px;
}

.Sky-hour-18 {
    top: -1700px;
}

.Sky-hour-19 {
    top: -1800px;

}

.Sky-hour-20 {
    top: -1900px;
}

.Sky-hour-21 {
    top: -2000px;
}

.Sky-hour-22 {
    top: -2100px;
}

.Sky-hour-23 {
    top: -2200px;
} */

/* .weather-city {
    font-family: georgia;
    font-style: italic;
    font-size: 1.5em;
    text-align: center;
}

.weather-icon {
    left: 10px;
    right: 10px;
    height: 80px;
    background-size: 80px 80px;
    text-align: center;
    font-size: 5em;
}

.weather-description {
    padding-top: 10px;
    font-family: georgia;
    font-size: 1em;
    text-align: center;
}

.weather-temperature {
    font-family: georgia;
    font-size: 1em;
    text-align: center;
}

.weather-temp-minmax {
    font-family: georgia;
    font-size: 0.8em;
    text-align: center;
} */

.panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: georgia;
    color: #FFF;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow: hidden;
}

.panel p{
    left: 10px;
}

.nav{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #20DC7B;
    overflow: hidden;
}

.nav a {
    display: block;
    width: 50%;
    height: 50px;
    line-height: 50px;
    float: left;
    /* -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; */
}

.nav .active {
    /* border-top: 3px solid #0daeb1; */
    background-color: rgb(60, 194, 125) !important;
}

.icon-search {
    height: 50px;
    width: 50px;
    background:transparent url('../img/search.png') no-repeat;
    background-size: 40px 40px;
    background-position: center;
    border: none;
    border: 0;
    /* overflow: hidden; */
    /* IE 6/7 fallback */
    *text-indent: -9999px;
    margin-left: 5px;
}

.first-line-panel{
    position: absolute;
    left : 10px;
    right: 10px;
    top: 20px;
}

.second-line-panel{
    position: absolute;
    left : 10px;
    right: 10px;
    top: 60px;
}

.second-line-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.city-text{
    margin-top: 12px;
    display: block;
    float: left;
    width: 80%;
}

.city-text input{
    width : 100%;
}

.button-search{
    display: block;
    float: right;
    width: 20%;
}

.lastupdate-line-panel{
    position: absolute;
    left : 10px;
    right: 10px;
    bottom: 0px;
    text-align: center;
    font-size: 0.5em;
    /* height: 20px; */
}

/* .lastupdate-line-panel p{

} */

#weatherimg{
    margin: auto;
}

#icon-home{
    background:transparent url('../img/home.png') no-repeat;
    background-size: 50px 50px;
    background-position: center;
}

#icon-settings{
    background:transparent url('../img/settings.png') no-repeat;
    background-size: 50px 50px;
    background-position: center;
}

#CityFlag{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

/* @media (max-device-width:768px) and (orientation: landscape) {
    html {
     -webkit-text-size-adjust: 100%;
     -ms-text-size-adjust: 100%;
    }
} */